{% extends "Base.html" %} {% block body %}
<div class="px-4 py-5 my-5 text-center">
    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-todo-list/check1.webp" alt="Check" width="60">
    <h1 class="display-5 fw-bold text-primary">Stay Organized with ToDo App</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">
            Boost your productivity with our intuitive ToDo App. Manage tasks effortlessly, set reminders, and stay on
            top of your goals.
        </p>
        <p class="lead mb-4">
            Join our community and transform your daily routine. Achieve more with less effort!
        </p>
    </div>
</div>
{% endblock %}