{% extends "layout.html" %}
{% block body %}
<div class="container">
    <form action="{{ url_for('updatetask', id=task['id']) }}" method="post">
        <div class="form-group">
            <br><br><br><br><br><br>
            <label for="tmember">Team Member</label>
            <input name="tmember" type="text" class="form-control" id="tmember" value="{{ task['tmember'] }}"
                placeholder="Team Member" required />
        </div>
        <br>
        <div class="form-group">
            <label for="task">Task</label>
            <input name="task" type="text" class="form-control" id="task" value="{{ task['todaystask'] }}"
                placeholder="Task" required />
        </div>
        <br>
        <div class="form-group">
            <button type="submit" class="link-underline-light text-primary border border-0">
                Update
                <i class="fa fa-plus text-success me-3 text-warning underline-none" aria-hidden="true"></i>
            </button>
        </div>
        <br><br>
        <br><br>
    </form>
</div>
{% endblock %}